.text {
    color: rgb(186, 139, 139);
    margin-bottom: 0px;
    font-size: 18px;
    background: -webkit-linear-gradient(right bottom,
            #162454,
            #533389,
            #0a9ed8,
            #7a359f);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}