.button {
    min-width: 100px;
    padding: 0 16px;
    line-height: 36px;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    background: none;
    background-color: var(--color-red-light);
    color:white;
    transition: background-color 0.7s;
}
.button:hover{
    background-color: var(--color-red-dark);
}
.button:disabled{
    background-color: var(--color-red-lighter);
}